@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap");

/* Root Styles */
:root {
  --link-color: rgb(226, 63, 213);
  --gray-color: rgba(40, 45, 60, 0.6);
}
*:not(h1) {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 102%;
}

/* Header */
.header-section {
  width: 100%;
  padding: 2rem;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-container .counter {
  color: var(--link-color);
}

/* Main */
.main-section {
  max-width: 1200px;
  margin: 0 auto;
}

/* Quiz Container */
.quiz-prompt {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.quiz-prompt h1 {
  text-align: center;
  font-size: 250%;
  font-weight: bold;
}
.quiz-prompt p {
  text-align: center;
  padding-inline: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.quiz-container {
  max-width: 75%;
  margin: 0 auto;
}
.quiz-question {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 210%;
  font-weight: 500;
  line-height: 2.2rem;
}
.quiz-options-list {
  margin-block: 2rem;
}
.quiz-choice {
  margin-block: 0.8rem;
}
.quiz-choice {
  padding: 0.5rem 1rem;
  min-width: 160px;
}

/* Quiz-footer */
.quiz-footer {
  border-top: 2px solid var(--gray-color);
  padding-block: 2rem;
}
.quiz-footer > p {
  position: absolute;
  font-size: 150%;
  color: var(--gray-color);
}
[data-visibility="visible"] {
  display: block;
}
[data-visibility="hidden"] {
  display: none;
  opacity: 0;
}
